<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>Fortune Roller</title>
  <link rel="shortcut icon" href="/assets/img/favicon.png" />
  <link rel="stylesheet" type="text/css" href="/assets/style.css" />
</head>

<body>
  <section id="navBar">

  </section>
  

  <section id="app">

  </section>
  {{!-- Error Code --}}
  <div id="fortuneMessage" class='hidden'>
    <img id="speech" src="/assets/img/speech.png" alt="speech bubble" />
    <h3><span id="errorMessage"></span></h3>
    <img id="teller" src="assets/img/fortune-teller.png" alt="magic man in cape" />
  </div>
  <script src="/assets/appBundle.js"></script>
</body>

</html>